data/
logs/
inputs/
outputs/
embeddings/
checkpoints/
checkpoints_dev/
checkpoints_develop/
*.pyc
*.npy
*.pt
*.pth
*.t7
*.out
*.db
multirun/
test_outputs/
nohup.out
vnev/
lightning_logs/
wandb/
wacv_cattle_activity_recognition/